.container {
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 30px;
    color: yellow;
}

button {
    padding: 10px 50px;
    background-color: greenyellow;
    cursor: pointer;
    font-size: 20px;
    color: blueviolet;
}

body {
    background-color: black;
}

button:hover {
    background-color: blue;
    color: yellow;
}

.sekil img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    transition: 3s all linear;
    -webkit-transition: 3s all linear;
    -moz-transition: 3s all linear;
    -ms-transition: 3s all linear;
    -o-transition: 3s all linear;
}